/** General and shared properties*/

html {
    background: rgb(49, 49, 57) linear-gradient(0deg, rgba(49, 49, 57, 1) 7%, rgba(113, 113, 199, 1) 75%) no-repeat;
    background-size: 100% 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

a {
    color: inherit;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 2.5rem;
    color: #F7F7FF;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-family: 'Questrial', sans-serif;
    font-size: 2rem;
    color: #F7F7FF;
    text-align: center;
}

h3 {
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    color: #F7F7FF;
    text-align: center;
}

h4 {
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    color: rgba(113, 113, 199, 1);
    text-align: center;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    color: #F7F7FF;
}

nav {
    width: 100%;
    margin: 0 auto 40px auto;
    background-color: transparent;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 20%;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    color: #F7F7FF;
    padding: 10px 0;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

/** Home page */

button {
    background: transparent;
    border: solid #F7F7FF 3px;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    color: #F7F7FF;
}

.firstFadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.secondFadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/** Introduction page */

.introduction {
    width: 50%;
    text-align: center;
}

.top {
    display: none;
}

header {
    position: relative;
}

.headline {
    transition-duration: 0.01ms;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    color: #F7F7FF;
    z-index: 1;
    position: relative;
    padding: 15px 0;
    width: 100%;
    transform: translateY(20%);
}

@supports (backdrop-filter: blur(10px)) {
    .visually-hidden {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .headline {
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.2);
        clip-path: url(#lockup-headline-mask-path);
    }
    .visually-hidden.fallback {
        position: relative;
    }
}

section {
    display: none;
    margin: 0 auto;
    text-align: left;
}

.bodywithoutfooter {
    flex: 1 0 auto;
}

footer {
    display: none;
    background-color: rgba(113, 113, 199, 1);
    flex-shrink: 0;
}

.container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    flex: 1 0 auto;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

/** Professional life page */

/** Interests page */

.interests {
    text-align: center;
    width: 100%;
}

.lol, .minecraft, .skyrim {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    text-align: left;
}

.lolcontent, .minecraftcontent, .skyrimcontent {
    width: 40%;
}

.lolcontent h4, .minecraftcontent h4, .skyrimcontent h4 {
    text-align: center;
}

.info {
    position: relative;
    cursor: help;
    color: rgba(113, 113, 199, 1);
}

.info:hover::after, .info:focus::after {
    content: attr(aria-label);
    position: absolute;
    bottom: -1.4em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
}

/** Projects page */

/** My activity page */

.message {
    font-family: 'JetBrains Mono', monospace;
    color: #F7F7FF;
    background: black;
    width: 50vw;
}

.chat {
    font-family: 'JetBrains Mono', monospace;
    color: #F7F7FF;
    background: black;
    height: 25vh;
    width: 50vw;
    overflow-y: scroll;
    resize: none;
}

.activitycontainer {
    align-items: flex-start;
    justify-content: space-evenly;
}