html {
    background: rgb(49, 49, 57) linear-gradient(0deg, rgba(49, 49, 57, 1) 7%, rgba(113, 113, 199, 1) 75%) no-repeat;
    background-size: 100% 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.firstFadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.secondFadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

h1 {
    font-family: "Ebrima", serif;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-family: "Ebrima", serif;
    font-size: 2rem;
    color: white;
    text-align: center;
}

h3 {
    font-family: "Ebrima", serif;
    font-size: 1rem;
    color: white;
    text-align: center;
}

button {
    background: transparent;
    border: solid white 3px;
    border-radius: 5px;
    font-family: "Ebrima", serif;
    font-size: 1.5rem;
    color: white;
}

p {
    font-family: "Ebrima", serif;
    font-size: 1rem;
    color: white;
    text-align: center;
}

section {
    display: none;
    margin: 0 auto;
    width: 400px;
}

section p {
    text-align: left;
}

nav {
    width: 100%;
    margin: 0 auto 40px auto;
    background-color: transparent;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav li{
    float: left;
    width: 20%;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: "Ebrima", serif;
    font-size: 1rem;
    color: white;
    padding: 10px 0;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

.top {
    display: none;
}

footer {
    display: none;
    background-color: rgba(113, 113, 199, 1);
    flex-shrink: 0;
}

a {
    color: inherit;
}

.container{
    display: none;
    align-items: center;
    justify-content: center;
    height: 50%;
    flex: 1 0 auto;
}