---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Loadeksdi's portfolio">
	<main class="flex flex-col items-center h-full mx-10 text-rose-400">
		<h1 class="text-center text-5xl mt-10 font-monospace">
			Welcome to <span class="text-white">Loadeksdi's</span> portfolio!
		</h1>
		<div class="flex flex-col justify-evenly items-start h-screen">
			<Card
				href="/formation"
				title="Background"
				body="My studies and experience in the IT world."
			/>
			<Card
				href="/showcase"
				title="Showcase"
				body="Showcasing my work through projects I've worked on."
			/>
			<Card
				href="/about"
				title="Interests"
				body="What I'm interested in and what I'm currently learning."
			/>
			<Card
				href="/contact"
				title="Contact"
				body="Want to talk with me? I'd love to hear from you."
			/>
		</div>
	</main>
</Layout>
