---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Loadeksdi's portfolio">
	<main>
		<div class="flex gap-4 justify-between">
			<Card
				href="/formation"
				title="Formation"
				body="My formation and my experience in the IT world."
			/>
			<Card
				href="/showcase"
				title="Showcase"
				body="Showcasing my work and projects I've worked on."
			/>
		</div>
		<h1 class="text-center">Welcome to Loadeksdi's portfolio!</h1>
	</main>
	<div class="flex gap-4 justify-between">
		<Card
			href="/about"
			title="Interests"
			body="What I'm interested in and what I'm currently learning."
		/>
		<Card
			href="/contact"
			title="Contact"
			body="Want to talk with me? I'd love to hear from you."
		/>
	</div>
</Layout>
