---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<section class="flex">
	<a href={href}>
		<h2 class="text-2xl font-bold font-monospace">
			<span>{title} &rarr;</span>
		</h2>
		<p class="text-white font-sans">
			{body}
		</p>
	</a>
</section>
