---
interface User {
    name: string;
    uuid: string;
}
---

<section class="mt-10 text-left flex flex-col w-full">
    <h2 class="text-2xl font-monospace text-rose-400">Chat with me</h2>
    <form class="mt-5">
        <fieldset>
            <label for="chat" class="flex font-sans text-white">Chat</label>
            <textarea id="chat" name="chat" class="flex h-28 w-full" readonly
            ></textarea>
            <div class="flex place-content-between mt-1">
                <label for="message"></label>
                <textarea
                    id="message"
                    name="message"
                    placeholder="Type your message here..."
                    required
                    class="w-full"></textarea>
                <button type="submit" class="m-1 bg-none text-rose-400 text-sans"
                    >Send ✉</button
                >
            </div>
        </fieldset>
    </form>
</section>
